*.o
*.user
.vs/
*.gcda
*.gcno

c.ver
java.ver
os.ver
python3.ver
ruby.ver

bin/

x64/

csharp/gmsec5/interfaces/Gmsec_wrap.cxx
csharp/gmsec5/interfaces/Gmsec_wrap.h
csharp/gmsec5/x64/

doxygen/*.err
doxygen/*.out

framework/include/gmsec_version.h

java/classes/
java/docs/
java/gov/nasa/gsfc/gmsec/api5/ApiVersion.java
java/object/
java/objects/
java/src/gov_nasa_gsfc_gmsec_api5_jni_gmsecJNI.h
java/x64/

msc.tmp
objects/

perl/gmsec5/interfaces/libgmsec_perl.pm
perl/gmsec5/interfaces/libgmsec_perl_wrap.cxx
perl/gmsec5/interfaces/libgmsec_perl_wrap.cxx.bak
perl/gmsec5/interfaces/libgmsec_perl_wrap.h
perl/gmsec5/interfaces/libgmsec_perl_wrap.h.bak
perl/gmsec5/x64/

python3/gmsec5/interfaces/libgmsec_python3.py
python3/gmsec5/interfaces/libgmsec_python3.py.bak
python3/gmsec5/interfaces/libgmsec_python_wrap.cxx
python3/gmsec5/interfaces/libgmsec_python_wrap.cxx.bak
python3/gmsec5/interfaces/libgmsec_python_wrap.h
python3/gmsec5/interfaces/libgmsec_python_wrap.h.bak
python3/gmsec5/x64/

tools/gmhelp/Release/

tools/utilities/gm_msg_config/Release/
tools/utilities/gm_msg_config/x64/
tools/utilities/gmconfig_edit/Release/
tools/utilities/gmconfig_edit/x64/
tools/utilities/gmlog/Release/
tools/utilities/gmlog/x64/
tools/utilities/gmpub/Release/
tools/utilities/gmpub/x64/
tools/utilities/gmreq/Release/
tools/utilities/gmreq/x64/
tools/utilities/gmrpl/Release/
tools/utilities/gmrpl/x64/
tools/utilities/gmsub/Release/
tools/utilities/gmsub/x64/
tools/utilities/throughput_pub/Release/
tools/utilities/throughput_pub/x64/
tools/utilities/throughput_sub/Release/
tools/utilities/throughput_sub/x64/
tools/utilities/msg_schema_ids/Release/
tools/utilities/msg_schema_ids/x64/

wrapper/activemq395/Release/
wrapper/activemq395/x64/

wrapper/artemis/Release/

wrapper/bolt/Release/
wrapper/bolt/bolt.jar
wrapper/bolt/classes/
wrapper/bolt/java/bolt/Version.java
wrapper/bolt/x64/

wrapper/c2/Release/
wrapper/c2_nss/Release/

wrapper/generic_jms/Release/
wrapper/generic_jms/x64/

wrapper/ibmmq90/Release/
wrapper/ibmmq90/x64/

wrapper/mb/MBServer/Release/
wrapper/mb/MBServer/x64/
wrapper/mb/Release/
wrapper/mb/x64/

wrapper/opendds/opendds.vcxproj.user
wrapper/opendds/src/OpenDDSMessageC.cpp
wrapper/opendds/src/OpenDDSMessageC.h
wrapper/opendds/src/OpenDDSMessageC.inl
wrapper/opendds/src/OpenDDSMessageS.cpp
wrapper/opendds/src/OpenDDSMessageS.h
wrapper/opendds/src/OpenDDSMessageTypeSupport.idl
wrapper/opendds/src/OpenDDSMessageTypeSupportC.cpp
wrapper/opendds/src/OpenDDSMessageTypeSupportC.h
wrapper/opendds/src/OpenDDSMessageTypeSupportC.inl
wrapper/opendds/src/OpenDDSMessageTypeSupportImpl.cpp
wrapper/opendds/src/OpenDDSMessageTypeSupportImpl.h
wrapper/opendds/src/OpenDDSMessageTypeSupportS.cpp
wrapper/opendds/src/OpenDDSMessageTypeSupportS.h

wrapper/opendds312/Release/
wrapper/opendds317/Release/

wrapper/kafka/Release/
